HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.metals

### k6 tests ###
k6-tests/test-data/*.json
k6-tests/results/results-*.json

### Bloop ###
.bloop/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Environment & secrets ###
.env
.env.*
*.env
*.secret
*.key
*.pem
results.json
results-fast.json

### Backups ###
backups/